@model List<ECommerce.Models.Category>

<h2>Danh sách danh mục</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên danh mục</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
            </tr>
        }
    </tbody>
</table>
